apiVersion: sample.redhat.com/v1alpha1
kind: Bar
metadata:
  labels:
    app.kubernetes.io/name: bar
    app.kubernetes.io/instance: bar-sample
    app.kubernetes.io/part-of: sample-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: sample-operator
  generateName: bar-
spec:
  # TODO(user): Add fields here
  # Sample files are used to help define how resources are created and can be modified indefinetly
  quantity: 3
  # Refereces the foo resource (respective to the name of the foo in the sample foo file)
  foo: foo-sample
